/* ---------- Font Family ------------ */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* --------- Universal Style -------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ---------- variables ------------ */

:root {
    --primary-color: #fff;
    --gray-color: #616161;
    --offwhite: #f1f1f1;
    --font-size: 18px;
}

/* ------------- body style ------------- */

body {
    font-family: "Raleway", sans-serif;
}

/* -------------------
    Navbar style
---------------------- */

.navbar {
    font-size: 15px;
    line-height: 27px;
    letter-spacing: 4px;
    padding: 0 12px;
    background-color: var(--primary-color);
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px, rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
    z-index: 999;
    text-transform: uppercase;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.logo {
    padding: 25px 16px;
}

.special {
    color: var(--primary-color);
    background-color: #000;
    padding: 10px;
    font-weight: 700;
}

.navbar li,
menu {
    list-style: none;
    padding: 25px 16px;
    cursor: pointer;
}

.navbar li a {
    text-decoration: none;
    color: black;
}

.menu {
    display: flex;
    align-items: center;
}

.menu li:hover,
.logo:hover {
    background-color: var(--offwhite);
}

/* -------------------
    Banner style
--------------------- */

.banner {
    background-image: url("images/mac.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
    filter: grayscale(50%);
    position: relative;
}

.banner-element{
    padding: 100px 0;
}

.banner-text .start {
    color: var(--primary-color);
    font-size: 64px;
    line-height: 116px;
    letter-spacing: normal;
    font-weight: normal;
}

.banner-text {
    padding: 112px 48px 180px 48px;
}

.banner-text .stop {
    color: var(--primary-color);
    font-size: var(--font-size);
    line-height: 82px;
    font-weight: normal;
    margin-bottom: 37px;
}

.banner-text .learn a {
    color: black;
    text-decoration: none;
    font-size: var(--font-size);
    padding: 18px;
    background-color: var(--offwhite);
    opacity: 0.60;
    line-height: 32px;
}

.banner-text .learn:hover a{
    background-color: white;
    opacity: 0.8;
}

.banner-text .learn{
    margin-top: 36px;
}

.icons{
    position: absolute;
    bottom: 32px;
    left: 48px;
    padding: 20px 0;
}

.flex-icon{
    display: flex;
    gap: 10px;
    color: #fff;
}

.flex-icon li{
    list-style: none;
}

.flex-icon li a{
    text-decoration: none;
}

.fa-brands{
    color: var(--gray-color);
}